---
import cvstyle from './cv.module.scss'
const { fullName = "Brady Kelly", header = "Senior Software Engineer - Specialist in C# and ASP.NET Core." } = Astro.props


---

<main id="resume" class="{cvstyle.page}">
	<header class="resume-header clearfix">
		<div class="profile-header pull-left">
			<h1>{fullName}</h1>
			<h2>{header}</h2>
		</div>
		<div class="profile-pic pull-right">
			<!--TODO: profile pic-->
		</div>
	</header>
	<section>
		
	</section>
</main>
