---
---

<section
	data-testid="about"
	id="about"
	class="mb-10 flex flex-col items-center justify-center lg:mb-0 lg:h-screen lg:flex-row"
>
	<div class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2">
		<h2 class="font-monospace text-2xl text-orange lg:text-4xl">About me</h2>
		<span class="mb-6 ml-2 h-1 w-10 bg-orange"></span>
	</div>

	<div class="w-full text-justify text-black dark:text-white lg:w-1/2">
		<!-- TODO: Make links for various topics here -->
		<p class="mb-2">
			I am an experienced software engineer with over 25 years in the industry. 
			My career has been dedicated to the development and management of a wide range of 
			software applications and information services. Of those 25 years, 20 
			have been focused on the Microsoft .NET platform, with C# and ASP.NET as my core skills, 
			showcasing my deep specialization in these technologies.
		</p>
		<p class="mb-2">
			My primary strength lies in analyzing and architecting software solutions that precisely 
			meet client and user expectations. I possess a broad expertise that includes a range of 
			programming languages, quality control, and application debugging. Additionally, 
			my skills extend to meticulous requirements analysis, system design, and technical writing, 
			ensuring comprehensive coverage of all aspects of software engineering.
		</p>
		<p class="mb-2">
			Furthermore, I am deeply invested in the fields of automation and integration platforms and tools. 
			This interest is actively applied to enhance various facets of software engineering and quality control. 
			Constantly seeking innovative ways to improve efficiency and effectiveness, I stay at the forefront 
			of technological advancements, striving to integrate these cutting-edge approaches into my software development processes.
		</p>
	</div>
</section>
